
.part__page {
    background: var(--blue);
    position: relative;
    overflow: hidden
}

.part__row {
    padding-top: 21px;
    padding-bottom: 21px
}

.part__form {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background: var(--white);
    padding: 45px 60px 50px;
    position: relative;
    z-index: 5
}

.part__bg-logo {
    position: absolute;
    fill: var(--white);
    height: 145%;
    width: 150%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1
}

.bg-logo__left {
    left: 75%
}

.bg-logo__right {
    right: 75%
}

.part__form-title {
    font-family: var(--f700-lato);
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: var(--blue);
    margin-bottom: 20px
}

.part__form-data {
    margin-bottom: 30px
}

.part__form-inp {
    width: 100%;
    border-radius: 5px;
    background: var(--bg-other-main);
    padding: 16px;
    outline: 1px solid var(--grey-2);
    font-family: var(--f500-lato);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--blue);
    margin-bottom: 20px;
    border: none;
}

.part__form-inp:focus { 
    outline: 1px solid var(--blue)
}

.part__form-inp::-webkit-input-placeholder {
    color: var(--purple)
}

.part__form-inp::-moz-placeholder {
    color: var(--purple)
}

.part__form-inp:-ms-input-placeholder {
    color: var(--purple)
}

.part__form-inp::-ms-input-placeholder {
    color: var(--purple)
}

.part__form-inp::placeholder {
    color: var(--purple)
}

.part__form-inp:last-child {
    margin-bottom: 0
}

.part__form-btn {
    width: 100%;
    background: var(--red);
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    text-transform: uppercase;
    font-family: var(--f900-lato);
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.1em
}

.part__form-btn:disabled {
    background: var(--pink)
}

.part__form-label {
    width: 100%;
    position: relative
}

.part__invalid-email {
    color: var(--red);
    font-family: var(--f400-lato);
    font-weight: 400;
    padding: 5px 10px;
    -webkit-box-shadow: var(--btn-shadow);
    box-shadow: var(--btn-shadow);
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    z-index: 10;
    background: var(--white);
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
    opacity: 0;
    text-transform: capitalize
}

.part__invalid-email.active {
    opacity: 1
}

.form__invalid {
    -webkit-animation: infinite 2s warning;
    animation: infinite 2s warning
}

.form__invalid:focus {
    outline: none;
    -webkit-animation: infinite 2s warning;
    animation: infinite 2s warning
}

@-webkit-keyframes warning {
    from {
        -webkit-box-shadow: inset 0 0 10px 2px var(--red);
        box-shadow: inset 0 0 10px 2px var(--red)
    }

    50% {
        -webkit-box-shadow: inset 0 0 5px 1px var(--red);
        box-shadow: inset 0 0 5px 1px var(--red)
    }

    to {
        -webkit-box-shadow: inset 0 0 10px 2px var(--red);
        box-shadow: inset 0 0 10px 2px var(--red)
    }
}

@keyframes warning {
    from {
        -webkit-box-shadow: inset 0 0 10px 2px var(--red);
        box-shadow: inset 0 0 10px 2px var(--red)
    }

    50% {
        -webkit-box-shadow: inset 0 0 5px 1px var(--red);
        box-shadow: inset 0 0 5px 1px var(--red)
    }

    to {
        -webkit-box-shadow: inset 0 0 10px 2px var(--red);
        box-shadow: inset 0 0 10px 2px var(--red)
    }
}
 
@media (max-width: 575px)  {
    .part__form {
        padding: 40px 23px 62px
    }

    .part__form-title {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 30px
    }
}