 
.p23__link {
    color: inherit;
    border-bottom: 1px solid var(--purple)
}
 
.p23__link:hover {
    color: inherit
}

.p23__wrapper {
    margin-bottom: 53px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.p23 .row__title {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 15px
}

.p23__title {
    line-height: 50px;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 11px
}

.p23__desc {
    max-width: 300px;
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 15px;
    color: var(--purple)
}

@media (max-width: 991px) {
    
    .p23__wrapper {
        margin-bottom: 28px
    }

    .p23__title {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px
    }

    .p23__desc {
        margin-left: auto;
        margin-right: auto;
        text-align: center
    }

    .p23__rating {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}
 
@media (max-width: 575px)  {
 
    .p23__desc {
        font-size: 16px;
        line-height: 24px
    }
}