
.advert {
    width: 260px;
    height: 360px;
    border-radius: 10px;
    background: var(--blue);
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow: hidden
}

.advert__title {
    font-family: var(--f700-comfortaa);
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: var(--white);
    text-align: center;
    position: relative;
    z-index: 2
}

.advert__item {
    min-width: 100px;
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid var(--white);
    background: var(--blue);
    position: relative;
    z-index: 3
}

.advert__price {
    font-family: var(--f700-lato);
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: var(--white)
}

.advert__size {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--white)
}

.advert__bg-img {
    position: absolute;
    opacity: 0.1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-53%, -50%) rotate(15deg) scale(0.9);
    -ms-transform: translate(-53%, -50%) rotate(15deg) scale(0.9);
    transform: translate(-53%, -50%) rotate(15deg) scale(0.9);
    z-index: 1
}

.advert__bonus {
    position: relative;
    z-index: 2;
    border-radius: 6px;
    background: var(--red);
    padding: 14px;
    font-family: var(--f700-lato);
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: var(--white)
}

.p7__panel {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: 2px solid var(--purple);
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden
}

.p7__tabs {
    min-width: 160px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    display: inline-block;
    font-family: var(--f700-lato);
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px
}

#colorOrSize {
    color: var(--purple);
    background: var(--white)
}

#otherItems {
    color: var(--white);
    background: var(--purple)
}

.p7__row {
    margin-bottom: 32px
}

.p7__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.p7 .row__title {
    margin-bottom: 0
}

.p7__title {
    text-align: left;
    padding-left: 0
}

.p7__desc {
    display: none
}

.p7Swiper {
    padding-top: 55px
}

.p7Swiper .swiper-slide {
    height: calc((100% - 30px) / 2)
}

.p7__swiper-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--main-input-bg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.p7__swiper-icon {
    width: 9px;
    height: 15px;
    fill: var(--blue)
}

.p7Swiper .swiper-button-next {
    right: 0;
    top: 0;
    margin-top: 0
}

.p7Swiper .swiper-button-prev {
    left: auto;
    right: 60px;
    top: 0;
    margin-top: 0
}

.p7Swiper .swiper-button-next:after,
.p7Swiper .swiper-button-prev:after {
    display: none
}

.p7__content {
    border-radius: 10px;
    background: var(--white);
    position: relative;
    padding: 25px 50px 40px;
    margin-bottom: 43px
}

.p7__card {
    min-width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 10px
}

.p7__card-picture {
    width: 100%;
    height: 200px;
    margin-bottom: 10px
}

.p7__card-img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.p7__card-desc {
    text-align: left
}

.p7__card-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 20px
}

.p7 .exchange__card-separator {
    display: none
}

.p7__card-more {
    font-family: var(--f700-lato);
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
    color: var(--blue)
}

.p7__card-more:hover {
    color: var(--light-blue)
}

.p7__content-title {
    font-family: var(--f700-lato);
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    color: var(--blue);
    position: absolute;
    top: 36px;
    left: 50px;
    z-index: 2
}

@media (max-width: 1199px) { 
    
    .advert {
        display: none
    }
     
    .p7__desc {
        display: block;
        text-align: left
    }
}

@media (max-width: 767px)  {

    .p7__content-title {
        display: none
    }

    .p7__swiper-btn {
        display: none
    }

    .p7__content {
        padding: 15px 20px 23px
    }

    .p7Swiper {
        padding-top: 0
    }

    .p7__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch
    }

    .p7__title {
        padding-left: 30px;
        text-align: center
    }

    .p7__desc {
        text-align: center
    }

    .p7 .row__title {
        margin-bottom: 24px
    }

    .p7__panel {
        margin-right: auto;
        margin-left: auto
    }
}
@media (max-width: 575px)  {

}
