@import '_global.css';

.add-policy .select.show-select .select__btn {
    border: none
}  
.add-policy .select__icon {
    right: 10px;
}


.add-policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.add-policy__commonly {
    margin-right: 60px
}

.commonly__title {
    font-family: var(--f700-lato);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: var(--blue);
    margin-bottom: 9px
}

.commonly__list {
    max-width: 300px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow-y: auto;
    padding-right: 14px
}

.commonly__list::-webkit-scrollbar {
    width: 5px;
    background: var(--dark-purple-opacity-50);
    border-radius: 10px
}

.commonly__list::-webkit-scrollbar-thumb {
    width: 5px;
    background: var(--blue);
    border-radius: 10px
}

.commonly__item {
    border-radius: 10px;
    padding: 11px 23px 21px 20px;
    border: 1px solid var(--return-input-bg);
    background: var(--white)
}

 

.commonly__item:last-child {
    border-radius: 10px 10px 0 10px
}

.commonly__item:not(:last-child) {
    margin-bottom: 20px
}

.commonly__item-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 7px
}

.commonly__item-title {
    font-family: var(--f700-lato);
    font-weight: 700;
    font: 16px;
    line-height: 36px;
    color: var(--blue)
}

.commonly__item-plus {
    width: 18px;
    height: 18px;
    fill: none;
    stroke: var(--purple);
    cursor: pointer
}

.commonly__item-desc {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--purple)
}

.policy__create {
    padding: 52px 60px 40px;
    background: var(--white);
    border-radius: 10px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center
}

.policy__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 32px
}

.policy__name {
    font-family: var(--f700-lato);
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: var(--blue);
    margin-right: 18px;
    border: none;
    padding: 0 5px
}

.policy__name.rename {
    outline: 2px solid var(--blue);
    border-radius: 3px
}

.policy__edit {
    position: relative
}

.policy__edit-icon {
    width: 24px;
    height: 36px;
    fill: none;
    stroke: var(--purple);
    cursor: pointer
}

.policy__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    height: 100%
}

.policy__card {
    padding: 20px 30px 25px;
    background: var(--bg-other-main);
    border-radius: 10px;
    width: 275px;
    text-align: left;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.policy__card-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.policy__card-btn {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--light-blue);
    border: none;
    background: transparent;
    cursor: pointer
}

.policy__card-btn:first-child {
    color: var(--gray)
}

.policy__card .select {
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 10px
}

.policy__card .select:nth-child(3) {
    margin-bottom: 14px
}

.policy__card .select__btn {
    border: none;
    padding: 7px 15px;
    background: var(--white)
}

.policy__card-arrow {
    width: 14px;
    height: 14px;
    fill: none;
    stroke: var(--blue);
    margin: 20px
}

.policy__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.policy__block .select {
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 0
}

.policy__card-minus {
    width: 23px;
    height: 23px;
    fill: none;
    stroke: var(--purple);
    margin-left: 21px;
    cursor: pointer
}

.policy__save {
    font-family: var(--f600-lato);
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 4px 18px;
    color: var(--white);
    background: var(--light-blue);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    min-width: 120px;
    border: 1px solid transparent
}

.policy__save:first-child {
    margin-right: 15px;
    display: inline-block;
    background: var(--white);
    color: var(--light-blue);
    border: 1px solid var(--light-blue)
}

.policy__save:hover {
    -webkit-box-shadow: var(--btn-shadow2);
    box-shadow: var(--btn-shadow2)
}

@media (max-width: 1500px) { 
    .add-policy__commonly {
        margin-right: 40px
    } 
}

@media (max-width: 1420px) {
    
    .policy__card {
        width: 350px;
        margin-left: auto;
        margin-right: auto
    }

    .policy__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .policy__card-arrow {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg)
    }
 
}

@media (max-width: 1200px) {
     
    .add-policy.change .commonly__list {
        margin-bottom: 30px
    }
  
}

@media (max-width: 820px) {
      
    .policy__card {
        width: 100%
    }
 
    .add-policy__commonly {
        margin-right: 0;
    }
    .add-policy.change .commonly__list {
        margin-right: 0;
    } 
    .commonly__list {
        max-width: 100%
    }
 
}

