@import '_global.css';

.add-reason {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.add-reason__create {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; 
    background: var(--white);
    border-radius: var(--border-radius-big);
    overflow: hidden;
    padding: 20px 30px 35px;
   width: 100%;
}

.add-reason__top {
    position: relative;
    margin-bottom: 32px
}

.add-reason__title {
    text-align: center;
    width: 100%;
    margin-bottom: 22px
}

.add-reason__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 64px;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.content__left { 
    min-width: 300px;
    width: 50%;
    padding-right: 25px;
    border-right: 2px solid var(--purple-opacity-15)
}

.content__left-title {
    margin-bottom: 14px
}

.new {
    margin-bottom: 25px;
    width: 100%
}

.new__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px
}

.new__inform {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--purple)
}

.new__input {
    width: 100%;
    border-radius: var(--border-radius-small);
    border: 2px solid var(--return-input-bg);
    padding: 10px 15px;
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--purple)
}

.new__input:focus {
    outline: none;
    border: 2px solid var(--purple);
    padding: 10px 15px
}

.switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px
}

.switch__box:not(:last-child) {
    margin-right: 30px
}

.switch__title,
.collection__title,
.applicable__title {
    margin-bottom: 5px
}

 

.collection {
    margin-bottom: 25px
}

.collection__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.collection__options:not(:last-child) {
    margin-bottom: 10px
}

.collection__item:not(:last-child) {
    margin-right: 29px
}

.input-radio {
    display: none
}

.input-radio:checked+.label-radio .circle-radio {
    border: 2px solid var(--blue)
}

.input-radio:checked+.label-radio .circle-radio:after {
    background: var(--blue)
}

.input-radio:checked:disabled+.label-radio .circle-radio {
    border: 2px solid var(--return-input-bg)
}

.input-radio:disabled+.label-radio .circle-radio {
    border: 2px solid var(--return-input-bg)
}

.input-radio:checked:disabled+.label-radio .circle-radio:after {
    background: var(--return-input-bg)
}

.label-radio {
    font-family: var(--f400-lato);
    font-weight: 400;
    color: var(--blue);
    font-size: 16px;
    line-height: 24px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    padding-left: 40px
}

.circle-radio {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid var(--blue);
    position: absolute;
    margin-right: 15px;
    left: 0
}

.circle-radio:after {
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: transparent
}
 
 
.applicable__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.applicable__inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.applicable__item:not(:last-child) {
    margin-right: 33px
}

.applicable__text-input {
    display: none;
    width: 100%;
    border-radius: var(--border-radius-small);
    border: 2px solid var(--return-input-bg);
    padding: 10px 15px;
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--purple);
    margin-top: 19px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s
}

.applicable__text-input.show {
    display: block
}

.applicable__text-input:focus {
    outline: none;
    border: 2px solid var(--purple)
}

.applicable__text-input::-webkit-input-placeholder {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--purple)
}

.applicable__text-input::-moz-placeholder {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--purple)
}

.applicable__text-input:-ms-input-placeholder {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--purple)
}

.applicable__text-input::-ms-input-placeholder {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--purple)
}

.applicable__text-input::placeholder {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--purple)
}

.content__right { 
    min-width: 300px;
    width: 50%;
    padding-left: 25px
}

.content__right-title {
    line-height: 25px;
    margin-bottom: 8px;
    max-width: 250px;
    width: 100%
}

.content__right-add {
    width: 100%;
    position: relative;
    margin-bottom: 20px
}

.content__right-add.hidden {
    display: none
}

.add {
    position: relative;
}
 
.add__btn {
    width: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius-small);
    border: 2px solid var(--return-input-bg);
    padding: 10px 15px;
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--purple);
    text-align: left;
    position: relative;
    z-index: 1
}

.add__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    fill: none;
    stroke: var(--purple)
}

.question__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.question__delete {
    border: 1px solid var(--purple);
    border-radius: 2px;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: var(--white);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 9px;
    cursor: pointer
}

.question__delete-icon {
    width: 8px;
    height: 8px;
    fill: var(--purple);
    opacity: 1
}

.question__delete:hover {
    border: 1px solid var(--red);
    border-radius: 2px
}

.question__delete:hover .question__delete-icon {
    fill: var(--red)
}

.question__name {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--blue)
}

.content__right-question {
    margin-bottom: 28px
}

.content__right-textarea {
    width: 100%;
    min-height: 100px;
    resize: none;
    border-radius: var(--border-radius-small);
    border: 2px solid var(--return-input-bg);
    padding: 15px;
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--purple)
}

.content__right-textarea:focus {
    outline: none;
    border: 2px solid var(--purple)
}

.content__right-textarea::-webkit-input-placeholder {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--purple)
}

.content__right-textarea::-moz-placeholder {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--purple)
}

.content__right-textarea:-ms-input-placeholder {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--purple)
}

.content__right-textarea::-ms-input-placeholder {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--purple)
}

.content__right-textarea::placeholder {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--purple)
}

.add__list {
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: left;
    border-radius: 3px;
    border: 1px solid var(--purple);
    background: var(--white);
    display: none
}
.add.show-select .add__list{
    display: block;
}
 

.add__item {
    padding: 5px 10px;
    color: var(--purple);
    cursor: pointer
}

.add__item.hidden {
    display: none
}

.add__item.item-selected {
    background: var(--dark-purple-opacity)
}

.add__item:hover {
    background: var(--red-opacity)
}
 
.add-reason__commonly {
    border-radius: var(--border-radius-big);
    background: var(--white);
    padding: 20px 3px 20px 20px;
    margin-right: 15px;
    min-width: 310px
}

.add-reason__commonly .commonly__title {
    margin-bottom: 29px;
    text-align: center
}

 

.add-reason .commonly__list {  
    overflow-y: auto;
    padding-right: 20px
}

.add-reason .commonly__list::-webkit-scrollbar {
    width: 5px;
    background: transparent;
    border-radius: 10px
}

.add-reason .commonly__list::-webkit-scrollbar-thumb {
    width: 5px;
    background: var(--thumb-color);
    border-radius: 10px
}
 

.add-reason__btn-upgrade {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--light-blue);
    border: none;
    background: transparent;
    cursor: pointer
}

.applicable .add-reason__btn-upgrade {
    margin-right: 23px
}

.content__right .add-reason__btn-upgrade {
    margin-bottom: 8px
}

.add-reason__back {
    font-family: var(--f600-lato);
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 4px 18px;
    display: inline-block;
    background: transparent;
    color: var(--light-blue);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    min-width: 70px;
    min-width: 130px;
    text-align: center;
    border: 1px solid var(--light-blue);
    margin-right: 15px
}

.add-reason__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.add-reason__save {
    font-family: var(--f600-lato);
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 4px 18px;
    display: inline-block;
    background: var(--light-blue);
    color: var(--white);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    min-width: 130px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.add-reason__save:hover,
.add-reason__back:hover {
    -webkit-box-shadow: var(--btn-shadow2);
    box-shadow: var(--btn-shadow2)
}

.warning__wrapper {
    position: fixed;
    z-index: 21;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox; 
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--poper-bg-opacity-50);
    display: flex;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.warning__wrapper.show {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.warning__block {
    max-width: 270px;
    border-radius: var(--border-radius-big);
    background: var(--white);
    padding: 30px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.warning__block .warning__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%
}

.warning__block .warning__close:hover .warning__close-icon {
    fill: var(--red)
}

.warning__block .warning__close-icon {
    width: 9px;
    height: 9px;
    fill: var(--purple)
}

.warning__block .warning__info-icon {
    width: 30px;
    height: 30px;
    fill: var(--red);
    stroke: var(--white);
    margin-bottom: 11px;
    position: static;
}

.warning__block .warning__title {
    font-family: var(--f700-lato);
    font-weight: 700;
    font-size: 14px;
    line-height: 16.8px;
    color: var(--red);
    margin-bottom: 12px
}

.warning__block .warning__desc {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--blue);
    text-align: center
}
 

.commonly__title {
    font-family: var(--f700-lato);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: var(--blue);
    margin-bottom: 9px
}

.commonly__list {
    max-width: 300px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow-y: auto;
    padding-right: 14px
}

.commonly__list::-webkit-scrollbar {
    width: 5px;
    background: var(--dark-purple-opacity-50);
    border-radius: 10px
}

.commonly__list::-webkit-scrollbar-thumb {
    width: 5px;
    background: var(--blue);
    border-radius: 10px
}

.commonly__item {
    border-radius: 10px;
    padding: 11px 23px 21px 20px;
    border: 1px solid var(--return-input-bg);
    background: var(--white)
}

 

.commonly__item:last-child {
    border-radius: 10px 10px 0 10px
}

.commonly__item:not(:last-child) {
    margin-bottom: 20px
}

.commonly__item-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 7px
}

.commonly__item-title {
    font-family: var(--f700-lato);
    font-weight: 700;
    font: 16px;
    line-height: 36px;
    color: var(--blue)
}

.commonly__item-plus {
    width: 18px;
    height: 18px;
    fill: none;
    stroke: var(--purple);
    cursor: pointer
}

.commonly__item-desc {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--purple)
}   

@media (max-width: 1420px) {
    
    .add-reason.change .content__left {
        width: 100%;
        border-right: none;
        padding-right: 0;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 2px solid var(--return-input-bg)
    }

    .add-reason.change .content__right {
        padding-left: 0;
        width: 100%
    } 
}

@media  (max-width: 1150px) { 
    .content__left {
        width: 100%;
        border-right: none;
        padding-right: 0;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 2px solid var(--return-input-bg)
    }

    .content__right {
        padding-left: 0;
        width: 100%
    } 
}

@media (max-width: 1050px) {
     
    .add-reason.change {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .add-reason.change .add-reason__commonly {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 100%;
        margin-right: 0
    }

    .add-reason.change .commonly__list {
        max-width: 100%
    }

    .add-reason.change .add-reason__create {
        width: 100%;
        margin-bottom: 30px
    } 
}

@media (max-width: 820px) { 
    .add-reason {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .add-reason__commonly {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 100%;
        margin-right: 0
    }

    .commonly__list {
        max-width: 100%
    }

    .add-reason__create {
        width: 100%;
        margin-bottom: 30px
    } 
}
