@import '_global.css';

.credits__inner {
    padding: 52px 60px 30px 58px;
    border-radius: var(--border-radius-big);
    background: var(--white)
}

.credits__top-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 25px
}

.credits__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 25px
}

.credits__title {
    margin-right: 90px
}

.credits__sort-btn {
    font-family: var(--f600-lato);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--purple);
    padding-bottom: 9px;
    margin-right: 40px;
    cursor: pointer
}

.credits__sort-btn:last-child {
    margin-right: 0
}

.credits__sort-btn.active {
    color: var(--blue);
    border-bottom: 2px solid var(--blue)
}

.credits__total {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    color: var(--blue);
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content
}

.credits .table__inner { 
    white-space: nowrap; 
}

 

.credits .table { 
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s
}

  

.credits .table__title { 
    min-width: calc(100%/8); 
    width: auto;
}
 


.credits .table .select {
    max-width: 150px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.credits .table .select__btn {
    padding: 5px 20px;
    border: none;
    text-align: center;
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--purple);
    border-radius: 3px;
    width: 100%;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    z-index: 1
}
.credits .select.show-select .select__btn {
    border: none;
}
.credits .table .select__icon {
    position: absolute;
    top: 50%;
    right: 0;
    width: 9px;
    height: 5px;
    fill: var(--purple);
    z-index: 0
}

.credits .select__list { 
    min-width: 150px
}

@media (max-width: 1100px) {
    
    .credits__inner {
        padding: 40px 30px
    }
     
}

@media (max-width: 820px) {
    
   .credits__title {
       margin-right: 60px
   }
   .credits .table__title {
       padding: 10px;
       padding-bottom: 10px
   }
  
}
