@import '_global.css';

.return__view {
    padding: 52px 60px 30px 58px;
    background: var(--white);
    border-radius: 10px
}

.return__title {
    font-family: var(--f700-lato);
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: var(--blue);
    margin-bottom: 19px
}

.return__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.return__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap
}

.return__item {
    font-family: var(--f600-lato);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--purple);
    padding-bottom: 9px;
    cursor: pointer;
    border-bottom: 2px solid transparent
}

.return__item.active {
    color: var(--blue);
    border-bottom: 2px solid var(--blue)
}

.return__num {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px
}

.return__item.active .return__num {
    color: var(--purple)
}

.return__item:not(:last-child) {
    margin-right: 38px
}

.return__upload-icon {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: var(--light-blue);
    cursor: pointer
}

.return__view .table__inner {
    white-space: nowrap;
}

.return__table {
    display: none;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s
}
.return__table.show {
    display: table;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

@media (max-width: 1300px) {  
    .return__view {
        padding: 32px 40px 22px
    } 
}

@media (max-width: 1200px) {
    .return__item:not(:last-child) {
        margin-right: 12px
    }

    .return__item:last-child {
        margin-right: 12px
    } 
}

@media (max-width: 1100px) {
    .return__list.direction-column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .return__list.direction-column .return__item {
        padding-right: 20px;
        padding-bottom: 0;
        margin-right: 0;
        border-bottom: none;
        margin-bottom: 8px
    }

    .return__list.direction-column .return__item:last-child {
        margin-bottom: 0
    }

    .return__list.direction-column .return__item.active {
        border-right: 2px solid var(--blue)
    }
 
}

@media (max-width: 820px) {
   
    .return__view {
        padding: 25px 25px 20px
    }
    
}
