@import '_global.css';

.integrations__top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}

.integrations__offer {
    display: flex;
    flex-wrap: wrap;
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px; 
}

.integrations__offer-text {
    color: var(--purple);
    margin-right: 8px;
}

.integrations__offer-link {
    color: var(--light-blue);
    border-bottom: 1px solid var(--light-blue);
}

.integrations__brands {
    border-radius: var(--border-radius-big);
    background:var(--white);
    padding: 0px 30px 30px;
    position: relative;
    margin-bottom: 30px;
    width: 100%;
}
 
.brands__title {
    position: absolute;
    top: 19px;
    z-index: 10;
}
.brands__swiper {
    padding-top: 75px;
    position: relative;
}

.brands__wrapper {
    height: 100%;
}

.brands__slide {
    width: 100%;
    height: 100%; 
    background: var(--white); 
    min-height: 151px; 
}

.brands__card {
    border-radius: var(--border-radius-small);
    padding: 0 15px 25px;
    border: 1px solid var(--return-input-bg);
    position: relative; 
    height: 100%; 
}
.brands__pic { 
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brands__img {
    width: 100%;
    object-fit: contain; 
}
 
.brands__control {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
.brands__upgrade {
    margin-right: 15px;
}
.brands__upgrade .brands__switch { 
    background: var(--white);
    width: 65px;
    border-radius: var(--border-radius-small); 
    border: 1px solid var(--return-input-bg);
}

.brands__upgrade .brands__switch::after { 
    top: 0;
    color: var(--switch-gray);
    background: var(--white);
    padding: 4px 0;
    border-radius: var(--border-radius-small);
    width: 30px; 
    height: 28px;
}
.brands__upgrade .brands__switch::before {
    top: -1px;
    background: var(--light-blue);
    padding: 4px 0;
    border-radius: var(--border-radius-small); 
    border: 1px solid var(--light-blue);
    width: 33px;
    height: 30px;
    left: 33px; 
}
.brands__upgrade input[type="checkbox"]:checked+.brands__switch {
    background-color: var(--white)
}
.brands__upgrade input[type="checkbox"]:checked+.brands__switch:after { 
    background: var(--white);
    content: attr(data-label-off);
    left: 33px
}

.brands__upgrade input[type="checkbox"]:checked+.brands__switch:before {
    background: var(--light-blue);
    content: attr(data-label-on);
    color: var(--white);
    -webkit-transform: translate3d(-34px, 0, 0);
    transform: translate3d(-34px, 0, 0); 
}

.brands__upgrade input[type="checkbox"]:disabled+.brands__switch:before  {
    background: var(--switch-gray);
    border: 1px solid var(--switch-gray);
}

.brands__slide-title {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--purple);
    text-align: center; 
}
.brands__btn {
    height: 30px;
    padding: 4px 9px; 
    border: none;
    border-radius: var(--border-radius-small); 
    font-family: var(--f600-lato);
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
}
.brands__btn-update {
    width: 66px; 
    background: var(--light-blue);
    color: var(--white);
}
.brands__btn-update:disabled {
    background: var(--ultra-light-blue);
}
.brands__prev,
.brands__next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--main-input-bg);
    position: absolute;
    top: 25px;
    left: auto;
    right: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    z-index: 10;
    cursor: pointer;
}

.brands__prev {
    right: 40px;
}
.brands__prev:hover .brands__prev-icon,
.brands__next:hover .brands__next-icon {
    fill: var(--blue);
}

.brands__prev-icon,
.brands__next-icon {
    width: 5px;
    height: 9px;
    fill: var(--purple);
}

.brands__prev:after,
.brands__next:after {
    display: none
}

.brands__btn-integrate {
    background: var(--blue);
    color: var(--white);
}

.brands__link {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 16px; 
    color: var(--light-blue);
    border-bottom: 1px solid var(--light-blue);
    position: absolute;
    left: 170px;
    top: 28px; 
    z-index: 10;
}

.brands__btn-disabled {
    background: var(--return-input-bg);
    color: var(--purple);
}