@import '_global.css';

.policies__main {
    padding: 52px 50px 30px 49px;
    background: var(--white);
    border-radius: 10px
}

.policies__top-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 29px
}

.policies__title {
    font-family: var(--f700-lato);
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: var(--blue)
}

.policies__create-remove {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.policies__delete {
    width: 15px;
    height: 16px;
    fill: none;
    stroke: var(--purple);
    margin-right: 35px;
    cursor: pointer
}

.policies__add {
    background: var(--light-blue);
    border-radius: 3px;
    padding: 4px 15px 5px 14px;
    font-family: var(--f600-lato);
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: var(--white)
}

.policies__add:hover {
    background: var(--blue)
}

 

.policies__main .table__title:first-child { 
    text-align: left;
    padding-left: 21px
}

.policies__main  .table__title:last-child { 
    padding-right: 21px
}

.policies__main .table__title { 
    width: 20%; 
}
#all-check {
    display: none;
}
  
#all-check:checked+.policy__check,
.table__check-input:checked+.policy__check {
    background: var(--blue);
    border: 2px solid var(--blue)
}

#all-check:checked+.policy__check .policy__check-icon,
.table__check-input:checked+.policy__check .policy__check-icon {
    opacity: 1
}
 

.policy__check {
    width: 25px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: var(--white);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 6px;
    border: 2px solid var(--return-input-bg);
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.policy__check-icon {
    opacity: 0;
    fill: var(--white);
    width: 12px;
    height: 8px
}

 



.policies__main .select {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative
}

.policies__main .select__btn {
    padding: 5px 10px;
    border: 1px solid var(--purple);
    text-align: center;
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--purple);
    border-radius: 3px;
    min-width: 130px;
    width: 100%;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer
}

.policies__main .select__icon {
    right: 10px;
}
.policies__condition {
    padding-left: 30px;
    padding-right: 30px
}
@media (max-width: 1500px) {
    
    .policy__create {
        padding: 30px 30px 30px
    } 
}
@media (max-width: 1420px) {
    
    .policies__condition {
        padding-left: 10px;
        padding-right: 10px
    }
    
}
@media (max-width: 1200px) {
    
    
    .policies__main {
        padding: 40px 30px 30px 30px
    }
    .policies__main .table__title {
        min-width: 155px
    }
 
}

